langchain
langchain-mistralai==0.2.2
langchain-pinecone
langchain-huggingface
pinecone-client
torch
streamlit
sentence-transformers
langchain-core
python-dotenv==1.0.0
Pillow
--upgrade pip
Pillow
streamlit
numpy

